# Tutorial Index

1. [Generate Mermaid Diagram from Code](#1-generate-mermaid-diagram-from-code)

    - 1.1 [Generate Mermaid - Architecture Diagram - from Code - Feedback App](#11-generate-mermaid---architecture-diagram---from-code---feedback-app)
    - 1.2 [Generate Mermaid - Sequence Diagram - from Code - Feedback App](#12-generate-mermaid---sequence-diagram---from-code---feedback-app)
    - 1.3 [Generate Mermaid - Class Diagram - from Code - Feedback App](#13-generate-mermaid---class-diagram---from-code---feedback-app)

# 1. Generate Mermaid Diagram from Code

## 1.1. Generate Mermaid - Architecture Diagram - from Code - Feedback App

### Install Prerequisites if not done yet
#### [=> Install Prerequisites](../README.md#prerequisites)

### Script to execute In VS Code terminal ('_playground/vscode-app-folder/')
#### [=> Start tutorial playground](../README.md#1-start-tutorial-window)
```
../init-app-folder.sh --with-starting-point-folder=feedback-app-code
```

### Prompts to execute In Q Desktop, Q CLI, Kiro, ...
```
create a mermaid architecture diagram of my application (data flow from up to bottom, use colors, keep formatting simple)
```

### Result Example
![mermaid architecture diagram from code](./tutorial-screenshots/mermaid-architecture-diagram-from-code.png)


## 1.2. Generate Mermaid - Sequence Diagram - from Code - Feedback App

### Install Prerequisites if not done yet
#### [=> Install Prerequisites](../README.md#prerequisites)

### Script to execute In VS Code terminal ('_playground/vscode-app-folder/')
#### [=> Start tutorial playground](../README.md#1-start-tutorial-window)
```
../init-app-folder.sh --with-starting-point-folder=feedback-app-code
```

### Prompts to execute In Q Desktop, Q CLI, Kiro, ...
```
create a mermaid sequence diagram of the application
```

### Result Example
![mermaid sequence diagram from code](./tutorial-screenshots/mermaid-sequence-diagram-from-code.png)


## 1.3. Generate Mermaid - Class Diagram - from Code - Feedback App

### Install Prerequisites if not done yet
#### [=> Install Prerequisites](../README.md#prerequisites)

### Script to execute In VS Code terminal ('_playground/vscode-app-folder/')
#### [=> Start tutorial playground](../README.md#1-start-tutorial-window)
```
../init-app-folder.sh --with-starting-point-folder=feedback-app-code
```

### Prompts to execute In Q Desktop, Q CLI, Kiro, ...
```
create a mermaid class diagram of the application
```

### Result Example
![mermaid class diagram from code](./tutorial-screenshots/mermaid-class-diagram-from-code.png)

